<h1 id="title"><%= link_to t("system_title"), root_path %></h1>
<p>
	<%= link_to t(".home"), root_path %> | 
	<%= link_to t(".about"), about_path %> |
	<%= link_to t(".new"), new_book_path %>
</p>
<hr>